html {
  display: flex;
  justify-content: center;
}

@media (prefers-color-scheme: dark) {
  :root .markdown-body {
    --color-canvas-default: #222222;
    --color-fg-default: #fefefe;
  }
}

@media (prefers-color-scheme: light) {
  :root .markdown-body {
    --color-canvas-default: #fefefe;
    --color-fg-default: #222222;
  }
}

.markdown-body {
  box-sizing: border-box;
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
  padding: 45px;
  font-size: 14px;
}

/* @media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
} */

.header-avatar {
  margin-right: 0.5rem;
}

.avatar {
  padding: 0.5rem;
  padding-left: 0;
  margin-bottom: 0;
  margin-right: 0.5rem;
  width: 4rem;
  height: auto;

  border-radius: 50% !important;
  box-shadow: 0 0 0 1px var(--color-avatar-border);
}

.header {
  display: flex;
  width: 100%;
}

.header-links {
  width: 100%;
}

.markdown-body .header h3 {
  margin-bottom: 0;
  margin-top: 1rem;
}

.resume-updated a {
  color: var(--color-fg-muted);
}

/* Photos :) */

.photo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

figure.photo {
  margin: 2rem 0;
}

figcaption {
  font-size: 0.8rem;
  color: var(--color-fg-muted);
  /* text-transform: uppercase; */
}

.photo figcaption {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.photo-image {
  padding-top: 0.25rem;
}

.photo img {
  max-height: 90vh;
}

@media (min-width: 767px) {
  figure.photo {
    margin: 8rem 0;
  }

  figure.photo:first-of-type {
    margin-top: 2rem;
    margin-bottom: 8rem;
  }
}

.markdown-body figure {
  margin: 1rem 0;
}

.markdown-body h3 {
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  margin-top: 1.25rem;
}

.markdown-body h3 span:nth-of-type(1) {
  line-height: 1.5;
}

.markdown-body h3 span:nth-of-type(2) {
  display: flex;
  align-items: flex-end;
  /* align-items: center; */
  line-height: 1.5;
}

.markdown-body h3.tx-overline,
.markdown-body h3 .tx-overline {
  font-weight: 500;
  font-size: 0.85rem;
  text-transform: uppercase;
  color: var(--color-fg-muted);
}

.markdown-body h6 {
  margin-top: 0;
}

.profile ol {
  margin-bottom: 0;
}

/* Heading href tags */

.header-anchor {
  display: none;
}

h2:hover .header-anchor,
h3:hover .header-anchor {
  display: inline-block;
}

@media (min-width: 767px) {
  .header-anchor {
    position: absolute;
    margin-left: -1.5rem;
    padding-right: 1.5rem; // maintain hover
  }
}

@media (min-width: 767px) {
  .profile {
    display: grid;
    grid-gap: 1rem;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 50% 50%;
  }
}

/* Print related changes for resume-to-pdf.js */
.print,
.print * {
  display: none !important;
}

@media print {
  .noprint,
  .noprint * {
    display: none !important;
  }
  .print,
  .print * {
    display: initial !important;
  }

  :root .markdown-body {
    --color-canvas-default: #fff;
    --color-fg-default: #111111;
  }

  /* .resume-updated {
    position: absolute;
    top: 2rem;
    right: 5rem;
  } */

  .markdown-body p {
    margin-bottom: 0.25rem;
  }

  .markdown-body main h2 {
    font-size: 1.15rem;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
  }
  .markdown-body main h2:first-of-type {
    margin-top: 0;
  }

  .markdown-body main h3 {
    font-size: 0.95rem;
    margin-top: 0.5rem;
    padding-bottom: 0;
    margin-bottom: 0.15rem;
  }

  .markdown-body ul {
    margin-bottom: 0.25rem;
  }

  .header {
  }

  .avatar {
    width: 3.8rem;
  }

  .header-links a {
    /* color: var(--color-fg-default); */
  }

  .profile {
    display: grid;
    grid-gap: 0.75rem;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 50% 50%;

    font-size: 0.8rem;
  }

  .profile h3.tx-overline {
    margin-top: 0;
  }

  .markdown-body {
    padding-top: 1.25rem;
  }

  @page {
    size: A4 portrait;
    margin: 0 1rem 1rem 1rem;
  }
}
