<aside class="callout">
  <div class="text-vertical-center">
  	<br><br>
    <h1>What my clients say</h1>
    <div class="row">
      <div class="col-md-6 center-block">
      	<p><blockquote><i>It was a pleasure working with Nathan, his expertise and direction helped us get our web presence in order. We look forward to dealing with him in the future.</i></blockquote>
    	— Leanne and Mary, Serenity Face & Body</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 center-block">
      	<p><blockquote><i>Nathan is a talented and dedicated developer who has a flair for seeing the big picture relating to software. Nathan’s ability to consider all facets of what it means to create a great software product is second to none.</i></blockquote>
    	— Jayson Frazer, Managing Director at The Incentive Lab</p>
      </div>
    </div>
    <br><br><br><br>
  </div>
</aside>
