<footer class="site-footer">
  <div class="copy">
    &copy; {{ site.time | date: "%Y" }} <a href="http:/nathanbirrell.me/">Nathan Birrell</a>.
  </div>
  <div class="links">
    <ul>
      <!-- <li><a href="/feed.xml" class="rss" rel="home" type="application/rss+xml">RSS</a></li> -->
      <li><a href="https://instagram.com/nathanbirrell" class="instagram">Insta</a></li>
      <!-- <li><a href="https://linkedin.com/in/nathanbirrell" class="linkedin">LinkedIn</a></li> -->
      <!-- <li><a href="https://github.com/nathanbirrell" class="github">GitHub</a></li> -->
    </ul>
  </div>
</footer>
