<header id="header" class="row">
	<div class="medium-8 small-centered columns">
		<!-- logo -->
		<a class="page-title" href="{{ site.url }}">Nathan Birrell</a>

		<!-- navigation -->
		<ul id="nav" class="inline-list">
		  <li>
		  	<a href="https://instagram.com/{{ site.instagram }}"> <i class="fa fa-instagram"></i></a> 
		  	<a href="https://twitter.com/{{ site.twitter }}"> <i class="fa fa-twitter"></i></a>
		  	<a href="https://github.com/{{ site.github }}/"><i class="fa fa-github"></i></a>
		  </li>
		  <li><a href="http://photo.nathanbirrell.me/">my photos</a></li>
		</ul>
	</div>
</header>