<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>My Work</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="thumbnail text-center portfolio-item">
              <a href="http://gaffneys.com.au" target="_blank">
                <img class="img-portfolio img-responsive" src="img/p-gaffneys.jpg">
                <div class="caption hide">
                    <p>Gaffneys Exhibition Logistics, Eltham</p>
                    <span>web | design | software</span>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="thumbnail text-center portfolio-item">
              <a href="http://www.memla.net/" target="_blank">
                <img class="img-portfolio img-responsive" src="img/p-memla.jpg">
                <div class="caption hide">
                    <p>Memla Landscape Architects, Brighton</p>
                    <span>web | design</span>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="thumbnail text-center portfolio-item">
              <a href="http://serenityfaceandbody.com.au/" target="_blank">
                <img class="img-portfolio img-responsive" src="img/p-serenity.jpg">
                <div class="caption hide">
                    <p>Serenity Face & Body, Balwyn</p>
                    <span>web</span>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="thumbnail text-center portfolio-item">
              <!-- <a href="#" target="_blank"> -->
                <img class="img-portfolio img-responsive" src="img/p-lroc.jpg">
                <div class="caption hide">
                    <p>L. R. Oliver Constructions</p>
                    <span>design | web coming soon</span>
                </div>
              <!-- </a> -->
            </div>
          </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail text-center portfolio-item">
              <a href="http://ryanssalon.com.au/" target="_blank">
                <img class="img-portfolio img-responsive" src="img/p-ryan.jpg">
                <div class="caption hide">
                    <p>Ryan's Hair Salon, Diamond Creek</p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <!-- <a href="#" class="btn btn-dark">View More Items</a> -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
