<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>My Work</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="thumbnail text-center portfolio-item">
              <a href="http://bostikrewards.com" target="_blank" title="Click through to the site (login required)">
                <img class="img-portfolio img-responsive" src="img/p-bostik.jpg" alt="Webstite project screenshots">
                <div class="caption">
                    <p>Bostik Rewards, <br>
                      <small>for The Incentive Lab</small></p>
                    <span>web | php</span>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="thumbnail text-center portfolio-item">
              <a href="http://gainsboroughrewards.com.au" target="_blank" title="Click through to the site (login required)">
                <img class="img-portfolio img-responsive" src="img/p-gainsborough.jpg" alt="Webstite project screenshots">
                <div class="caption">
                    <p>Gainsborough Rewards, <br>
                      <small>for The Incentive Lab</small></p>
                    <span>web | php</span>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="thumbnail text-center portfolio-item">
              <a href="http://gaffneys.com.au" target="_blank" title="Click through to the site">
                <img class="img-portfolio img-responsive" src="img/p-gaffneys.jpg" alt="Webstite project screenshots">
                <div class="caption">
                    <p>Gaffneys Exhibition Logistics, Eltham</p>
                    <span>web | design | ruby</span>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="thumbnail text-center portfolio-item">
              <a href="http://www.memla.net/" target="_blank" title="Click through to the site">
                <img class="img-portfolio img-responsive" src="img/p-memla.jpg" alt="Webstite project screenshots">
                <div class="caption">
                    <p>Memla Landscape Architects, Brighton</p>
                    <span>web | design</span>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="thumbnail text-center portfolio-item">
              <a href="http://serenityfaceandbody.com.au/" target="_blank" title="Click through to the site">
                <img class="img-portfolio img-responsive" src="img/p-serenity.jpg" alt="Webstite project screenshots">
                <div class="caption">
                    <p>Serenity Face &amp; Body, Balwyn</p>
                    <span>web</span>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="thumbnail text-center portfolio-item">
              <!-- <a href="#" target="_blank"> -->
                <img class="img-portfolio img-responsive" src="img/p-lroc.jpg" alt="Logo design project screenshots">
                <div class="caption">
                    <p>L. R. Oliver Constructions, Melbourne</p>
                    <span>logo design</span>
                </div>
              <!-- </a> -->
            </div>
          </div>
          <div class="col-md-6">
              <div class="thumbnail text-center portfolio-item">
                <!-- <a href="#" target="_blank"> -->
                  <img class="img-portfolio img-responsive" src="img/p-ryan.jpg" alt="Webstite project screenshots">
                  <div class="caption">
                      <p>Ryan's Hair Salon, Diamond Creek</p>
                      <span>digital marketing</span>
                  </div>
                <!-- </a> -->
              </div>
            </div>
          </div>
        </div>
        <!-- <a href="#" class="btn btn-dark">View More Items</a> -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
