/**
 * @file _global.scss
 * Global styles and defaults. Applied immediately after the normalize.
 */

html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $open-sans;
  font-size: 100%;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $raleway;
  line-height: 1.15;
  margin: 0;
}

h1,
h2 {
  font-size: 20px;
  color: #4A4A4A;
  letter-spacing: -0.14px;
  line-height: 18px;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  color: #CCCCCC;
}

a {
  text-decoration: none;
}

a, a:link {
  color: #4A4A4A;
}

a:hover, a:active {
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
  transition: opacity 0.2s ease-out;

  &[data-src] {
    opacity: 0;
  }
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.hide {
  display: none;
}

/*
  Site wrapper
 */
.wrapper {
  flex-wrap: wrap;

  @extend %clearfix;
  max-width: 1080px;
  margin: 1rem auto;
  display: flex;
}

.column {
  flex: 1 1 100%;
  margin: 1em;

  @include breakpoint($tablet-up) {
    flex: 1 1;
  }
}

.column.main {
  @include breakpoint($tablet-up) {
    flex: 4 4;
  }
}
