/**
 * @file _global.scss
 * Global styles and defaults. Applied immediately after the normalize.
 */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  font-family: $main-font;
  font-size: 100%;
  line-height: 1.5;
  color: $dark-grey;
  font-weight: 300;
  background: $off-white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $main-font;
  line-height: 1.5;
}

h1 {
  font-size: 1.2em;
  font-weight: $font-weight-normal;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 1.5em;
  font-weight: $font-weight-normal;
  text-transform: none;
}

h3 {
  font-size: 1.2em;
}

a {
  text-decoration: none;
}

a:visited {
  color: $dark-grey;
  font-weight: $font-weight-light;
}

a, a:link {
  color: $dark-grey;
  border-bottom: 1.5px solid $dark-grey;
}

a:hover, a:active {
  color: $black;
}

a:focus {
  background: $dark-grey;
  border: $dark-grey;
  color: $white;
}

.lead {
  font-size: 1.25em;
  font-weight: $font-weight-light;
}

blockquote {
  margin: 0;
  border-left: 4px solid $dark-grey;
  padding-left: 1em;
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto;
  transition: opacity 0.2s ease-out;

  &[data-src] {
    opacity: 0;
  }
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.hide {
  display: none;
}

/*
  Site wrapper
 */
.wrapper {
  flex-wrap: wrap;

  @extend %clearfix;
  max-width: 920px;
  margin: 1em auto;
  display: flex;
}

.column {
  flex: 1 1 100%;
  margin: 1em;
  position: relative;
}

.column.nav {
}

.column.main {
}

.column.thin {
  max-width: 372px;
  padding: 0 14px;
  margin: 0 auto;
}
