/**
 * @file _index.scss
 * Home
 */

.index {
  .gallery {
  }
  .photo {
    display: flex;
    flex-wrap: wrap;

    position: absolute;
    background: #fff;
    margin: 0 1em 0 -0.5em;
  }
  .photo.current {
    z-index: 1;
  }
  .photo a {
    flex: 1 1 100%;
  }
  .photo .meta {
    flex: 1 1 50%;

    font-family: 500;
    font-size: 10px;
    color: #CCCCCC;
    letter-spacing: -0.07px;
    line-height: 12px;

    &.right {
      text-align: right;
    }
  }
}
