.nav {
  display: flex;

  .title {
    flex: 1 1 50%;
  }
  .nav-links {
    flex: 1 1 50%;
    text-align: right;
  }
}

.nav {
  margin-top: 18px;
  font-family: $raleway;
  color: $grey;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;

  a {
    color: $grey;
    &:hover,
    &:active {
      color: $dark-grey;
    }
  }

  ul, li {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .nav-links ul li {
    margin: 0 0.3em;
  }
}
