.nav {
  display: flex;

  .title {
    flex: 1 1 50%;
  }
  .nav-links {
    flex: 1 1 50%;
    text-align: right;
  }
}

.nav {
  margin-top: 18px;
  font-family: $raleway;
  color: #CCCCCC;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;

  a {
    color: #CCCCCC;
    &:hover,
    &:active {
      color: #4A4A4A;
    }
  }

  ul, li {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
