header {
  text-align: center;

  @include breakpoint($tablet-up) {
    text-align: right;
  }
}

header .nav {
  margin-top: 18px;

  a {
    font-family: $raleway;
    color: #CCCCCC;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }

  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
