html {
  display: flex;
  justify-content: center;
}

body {
  padding-top: 3rem;
  position: initial;
}

* + * {
  margin-top: initial;
}

.w-full {
  width: 100%;
}
.w-full {
  width: 100%;
}
.grow {
  flex-grow: 1;
}

@media (prefers-color-scheme: dark) {
  :root .markdown-body {
    --color-canvas-default: #222222;
    --color-fg-default: #fefefe;
    --color-banner: rgb(24 24 27);
  }
}

@media (prefers-color-scheme: light) {
  :root .markdown-body {
    --color-canvas-default: #fefefe;
    --color-fg-default: #222222;
    --color-banner: rgb(24 24 27);
  }
}

/* .markdown-body {
  box-sizing: border-box;
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 3rem;
  font-size: 14px;
} */

.markdown-body .header h3 {
  margin-bottom: 0;
  margin-top: 1rem;
}

.markdown-body h2 {
  padding-bottom: 0;
  margin-bottom: 0.25rem;
  border-bottom: none;
}

.markdown-body h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 1.25rem;
}

.markdown-body h6 {
  margin-top: 0;
}

.profile ol {
  margin-bottom: 0;
}

@media (min-width: 767px) {
  .profile {
    display: grid;
    grid-gap: 1rem;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 50% 50%;
  }
}

.print,
.print * {
  display: none !important;
}

@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
  }

  .noprint,
  .noprint * {
    display: none !important;
  }

  .print,
  .print * {
    display: initial !important;
  }

  astro-dev-toolbar {
    display: none !important;
  }

  :root .markdown-body {
    --color-canvas-default: #fff;
    --color-fg-default: #111111;
  }

  .profile h3.tx-overline {
    margin-top: 0;
  }

  .markdown-body ul {
    margin-bottom: 0.5rem;
  }

  .markdown-body {
    padding-top: 1.25rem;
  }
}
