---
sitemap: false
---

/*
 *
 *  Minimal Mistakes
 *
 *  Designer: Michael Rose
 *  Twitter: http://twitter.com/mmistakes
 *
*/

// Partials
@import "variables";
@import "grid";
@import "../bower_components/foundation/scss/foundation/components/grid";
@import "../bower_components/foundation/scss/foundation/components/global";
@import "mixins";
@import "normalize";
@import "site";
@import "typography";
@import "pygments";
@import "coderay";
@import "elements";
@import "forms";
@import "page";
@import "vendor/font-awesome/font-awesome";
@import "vendor/magnific-popup/magnific-popup";
//@import "vendor/google/fonts";


// Nathan's Hacks

.home {
	@media only screen and (min-width: 40.0625em) {
		#index {
		  width: 70%;
		  article {
		  	width: 75%;
		  }
		}
	}

	@media only screen and (min-width: 86.375em) {
		#index {
		  width: 60%;
		}
	}
	.services {
		text-align: center;
		i {
			color: #666;
		}
	}
}

h1, h1 a, h1 a:visited {
	// color: #9C9F84;
}

.navigation-wrapper {
	text-align: center;
	@media #{$medium} {
		text-align: left;
	}
}

// fix vertical align of title
@media #{$large} { 
	.site-name {
		margin-top: 7px;
	}
}

.top-navigation li a.cta {
	color: $success;

	@media #{$large} {
		margin-left: 278px;
		
		// Need to override old button styles due to specifity issues.
		/* Default button */
		display: inline-block;
		padding: 8px 20px;
		@include font-rem(14);
		font-family: $heading-font;
		font-weight: 700;
		background-color: $primary;
		color: $white;
		border-width: 2px !important;
		border-style: solid !important;
		border-color: $primary;
		text-decoration: none !important;
		@include rounded(3px);
		&:visited {
		color: $white;
		}
		&:hover {
		background-color: $white;
		color: $primary;
		}

		/* Success button */
		background-color: $success;
		color: $white;
		border-color: $success;
		&:visited {
		color: $white;
		}
		&:hover {
		background-color: $white;
		color: $success;
		}
	}
}