body {
	padding-top: 36px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
}

#header {
	height: auto;
	margin-bottom: 22px;

	.page-title {
		color: $body-font-color;
		font-size: $h2-font-size;
		margin-bottom: 14px;
		display: inline-block;

		@media #{$large-up} { 
			margin-bottom: 0;
			font-size: $h1-font-size;
		}
	}
	nav {

		ul {
			width: 100%;
			clear: both;

			li { 
				width: 100%;
				text-align: center;
			}
		}

		@media #{$medium-up} {
			ul {
				float: right;
				clear: initial;
				width: auto;
				
				li {
					width: auto;
				}
			}
		}
	}
	.inline-list li * {
		// Fix for icons stacking vertically
		display: inline-block;
	}
}

#home {
	p {
		font-size: 137%; 
		font-weight: $font-weight-light;
	}

	h1.role {
		font-size: 140%;
		font-style: italic;
	}

	blockquote {
		font-size: 145%;
	}
}

#cv {
	h2 {
		margin-top: 42px;
		font-size: 120%;
		font-weight: $font-weight-bold;
		color: $primary-color;

		&:before {
			content:' ';
			display:block;
			border: 1px solid $primary-color;
		}
	}

	h3 {
		font-size: 145%;
	}
	.updated {
		font-style: italic;
		margin-top: -12px;
		display: block;
		opacity: 0.6;
	}

	.leader {
		font-size: 220%;
		line-height: 1.2;
		font-weight: $font-weight-light;
		font-style: italic;
		opacity: 0.6;
	}

	.summary {
		font-weight: $font-weight-bold;
		font-size: 95%;

		a {
			// color: #fff;
			text-decoration: underline;
		}
	}
}

.social {
	i {
		font-size: 150%;
		margin: auto 2px;
		vertical-align: middle;
	}
}

footer.row {
	margin-top: 52px;

	ul.inline-list {
		text-align: center;

		li {
			display: inline-block;
			float: none;
		}
	}
}