---
const COMPANY_ICONS = [
  {
    label: "MYOB",
    icon: "https://raw.githubusercontent.com/simple-icons/simple-icons/develop/icons/myob.svg",
    href: "https://www.myob.com.au/",
  },
  {
    label: "Versent",
    icon: "https://versent.com.au/wp-content/uploads/2023/03/versent-og.png",
    href: "https://versent.com.au/",
  },
  {
    label: "Deloitte Digital",
    icon: "https://www.drupal.org/files/lu_dd_logobanner_1x1.jpg",
    href: "https://www.deloittedigital.com/au/en",
  },
  {
    label: "Belong / Telstra Australia",
    icon: "https://www.telstra.com.au/content/dam/tcom/lego/2023/fixed-media-add-on/CAM-header-desktoptall-belong-692x500-2x.jpg",
    href: "https://www.belong.com.au/",
  },
  {
    label: "Bureau of Meteorology Australia",
    icon: "https://www.flightsafetyaustralia.com/wp-content/uploads/2023/02/Bureau_Brandmark_Blue_RGB.png",
    href: "https://www.bom.gov.au/",
  },
];

// const getImageUrl = (company: (typeof COMPANY_ICONS)[0]["label"]) =>
//   `https://raw.githubusercontent.com/simple-icons/simple-icons/develop/icons/${company.toLowerCase()}.svg`;
---

<div class="companies">
  {
    COMPANY_ICONS.map(({ label, icon, href }) => (
      <a href={href} target="_blank">
        <img title={label} src={icon} />
      </a>
    ))
  }
</div>

<style>
  .companies {
    display: grid;
    gap: 1rem;
    align-items: center;

    @media (min-width: 375px) {
      grid-template-columns: repeat(3, [col-start] 1fr);
    }

    @media (min-width: 767px) {
      grid-template-columns: repeat(6, [col-start] 1fr);
    }
  }
  .companies > * {
    @media (min-width: 375px) {
      max-width: 6rem;
    }
  }
</style>
