---
layout: compress
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="wrapper {{ page.wrap_classes }}">
      <header class="column nav">
        {% include header.html %}
      </header>

      <article class="column main {% if page.thin %}thin{% endif %}">
        {{ content }}
      </article>
    </div>

    {% include footer.html %}

    {% if page.photoswipe %}
      {% include photoswipe-container.html %}
    {% endif %}

    <script defer src="/js/all.js"></script>
    {% if page.photoswipe %}
      <script defer src="/js/photoswipe.all.js"></script>
    {% endif %}

    {% include google-analytics.html %}
  </body>

</html>
