---
layout: layouts/base.njk
templateClass: blogpost
---

<h1>{{ title or metadata.title }}</h1>

<h6><small class="resume-updated"><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></h6>

{{ content | safe }}
