---
import PageBase from "../../layouts/PageBase.astro";

const title = "Pinboard";
const description = "Pinboard.";
const pubDate = new Date("2024-04-01");
---

<PageBase {...{ title, description, pubDate }}>
  <section class="photos">
    <div>
      TODO :)
    </div>
  </section>
</PageBase>
